/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
/public/downloads
/public/uploads/*
/app/uploads/*
/public/js/*
/public/css/print*
/public/css/pdf*
/public/css/app*
/public/build/
/public/images/fancybox*
/public/images/ui*
/public/images/bh_icon*
/public/images/ellipsis.svg
/public/images/three-dots.svg
.DS_Store
/.idea
/public/storage
/public/hot
/storage/*.key
/public/mix-manifest.json
/public/fonts/vendor/font-awesome
/storage/debugbar/
composer.lock
/tags
.php_cs.cache
